.home-card {
  margin-top:calc(100vh - 33vh) !important;
  padding: 1em;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  background: white;
}

.wrapper {
  background-image: url("./assets/ploopl.jpg");
  height:100vh;
  overflow:auto;
  background-repeat: no-repeat;
  background-size: cover;
}
