.form__button {
  margin-top: 1em;
  width:50%;
  padding:.5em;
}

.btn--green {
  background-color:rgb(66, 240, 66);
}

.btn--no-border {
  border:none;
}

.btn--shadow {
  box-shadow:0px 18px 40px -12px rgba(66, 240, 66, 0.244);
}
